/* Pallette
    Primary : # #363f4e;
    Secondary : #31363F;
    TerTier : #76ABAE;
    Text : #EEEEEE;
*/

*:not(dialog, dialog[open]){
    margin:0;
    padding:0;
}
*{
    box-sizing: content-box;
}

:root{
    --PrimaryOne : #363f4e;
    --SecondaryOne : #31363F;
    --TerTierOne : #76ABAE;
    --FontOne : #EEEEEE;

    font-family:"Roboto mono" ,"Lato" ,arial, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*::selection{
    background-color: black;
    color: aqua;
}

body{
    /* background-image: linear-gradient(to right bottom, #F4EEFF, #DCD6F7, #A6B1E1, #424874); */
    background-color: rgb(55, 55, 55);
    overflow: hidden;

}



#nav{
    height: 70px;
    background-color: var(--PrimaryOne);
    color: var(--FontOne);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 50px;
    position: relative;
    z-index: 100;
}

#nav-right-section{
    display: flex;
    align-items: center;
    gap:10px;
}

#nav-right-section > p{
    font-size: 1rem;
    line-height: 1.35rem;
}

#nav-right-section > p > span{
    font-size: 1.2rem;
    font-weight: 700;
}


#bg-image{
    position: absolute;
    width: 100%;
    top:0;
    bottom:0;
    left:0;

    background: url(./../img/office-bg-theStandingDesk\ on\ unsplash.jpg) no-repeat center;
    background-size: cover;
    filter: blur(5px) brightness(35%);
}

#sidebar{
    position: absolute;
    top:70px;
    bottom:0;
    left:0;
    width: 225px;

    background-color: var(--SecondaryOne);
    color: var(--FontOne);
    display: flex;
    gap:15px;
    flex-direction: column;
    align-items: center;
    transition: .3s;
}

#sidebar.sidebar-container-close{
    transform: translateX(-225px);
}

#top-sidebar{
    width: 80%;
    padding:20px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap:20px;

    border-bottom: 2px solid black;
}

button.due-to-button{
    display: flex;
    align-items: center;
    gap:10px;
    width:inherit;
    padding:7px 20px;
    border:none;
    border-radius:5px;
    text-align: start;

    font-weight: bold;
    transition: .2s;
    cursor: pointer;

    background-color:var(--TerTierOne);
    color: var(--FontOne);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .2);
}

button.due-to-button:hover, #add-new-project:hover, #project-confirm:hover, #project-confirm:focus{
    background-color: black;
    color: var(--FontOne);
    box-shadow:0px 0px 10px 2px rgba(255, 255, 255, 1); 
    transform: scale(1.05);
}

button.due-to-button:first-of-type::before{
    content:url(./../img/svg/sim-card-svgrepo-com.svg);
}
button.due-to-button:nth-child(2):before{
    content:url(./../img/svg/schedule-svgrepo-com.svg);
}
button.due-to-button:nth-child(3):before{
    content:url(./../img/svg/article-svgrepo-com.svg);
}
button.due-to-button:last-child:before{
    content:url(./../img/svg/badge-svgrepo-com.svg);
}

button.due-to-button::before{
    width:35px;
    height:35px;
}

#projects-legend{
    align-self: start;  
    margin:0 0 10px 10px;
}

#projects-container{
    display: grid;
    width: 80%;
    padding:0 10%;
    gap:15px;
    grid-template-columns: 1fr;
    grid-auto-rows: 45px;
    max-height: 285px;
    overflow: auto;
    box-shadow: 0px 6px 7px 1px rgba(0, 0, 0, .05);
    padding-top:5px;
    padding-bottom:15px;

}

.project-content{
    text-align: center;
    font-size: 0.85rem;
    display: flex;
    gap:10px;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;;
    transition: .25s;
    cursor: pointer;
    padding:10px 5px;
    background-color: var(--TerTierOne);
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, .1);
}

.project-content:hover{
    transform: scale(1.05) translate(10px);
    background-color: black;
    color: var(--FontOne);
    border: 2px solid snow;
}

.project-content > svg, .project-content > img{
    min-width:35px;
    height: 35px;;
}

.project-content.focus{
    background-color: black;
    border: 2px solid white;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, .35);
}

#add-new-project{
    position: absolute;
    display: flex;
    gap:7px;
    align-items: center;
    bottom:50px;
    left:10%;
    right: 10%;

    padding:10px 15px;
    font-weight: bold;
    border:none;
    border-radius:5px;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, .25);
    transition: .2s;
    cursor: pointer;
    background-color: var(--TerTierOne);
    color: var(--FontOne);
}

#add-new-project::before{
    content: url(./../img/svg/pencil-revision-svgrepo-com.svg);
    transform: rotateY(180deg) rotateZ(45deg) ;
    width: 35px;
    height: 35px;;
}

#sidebar-opener{
    position: absolute;
    top:50%;
    right: -55px;
    cursor: pointer;
    transition: .55s;
}

#sidebar-opener > img{
    fill: snow;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .2);
    background-color: var(--TerTierOne);
    border-radius: 50%;
    height: 50px;
    
}

#sidebar-opener.sidebar-close{
    transform:rotateZ(180deg)
}

button.due-to-button.fokus{
    background-color: black;
    border: 2px solid white;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, .35);
}